@charset "UTF-8";
/* © Devsfront
// Autor: SORO DAOUDA
/* Copyright Not A Number and his devs

                    .
                    d8b
                d88888b
                d888Y Y888b
            d888Y  .  Y888b
            d888Y   d8b   Y888b
        d888Y   d88888b   Y888b
            ""   d888Y Y888b   ""
            d888Y  .  Y888b
                ""   d8b   ""
                d88888b
8888b   88888     Y8b     8888b   88888
    8888b   888       '       8888b   888
    88888b  888               88888b  888
    888Y88b 888    88888b.    888Y88b 888
    888 Y88b888    "   "88b   888 Y88b888
    888  Y88888   .d8888888   888  Y88888
    888   Y8888   888   888   888   Y8888
88888   Y888   "Y88888"88 88888   Y888 
/*---------------------------------------------
*
* MAIN.CSS
*
*/

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;600&display=swap');

/* General code*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a{
  color: initial;
  text-decoration: none;
}

a:hover{
  color: initial;
  text-decoration: none;
}

li{
  list-style: none;
}

p{
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */

/* variable */
:root{
  /* color */
  --color-primary: #ff6900;
  --color-white: #fff;
  --color-black: #000;

  /* transition */
  --transition: .3s;
}

/* mixins */
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header */
.header{
  height: 6rem;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eae8f3;
}

.header__logo img{
  height: 5rem;
}

.header__title h1{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
}

.header__identite{
  position: relative;
}

.header__identite p{
  margin-bottom: 0;
  padding: .7rem 1.5rem;
  border: 1rem;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: .3rem;
}

.header__identite .sous-menu{
  min-height: 10rem;
  width: 15rem;
  background-color: var(--color-white);
  box-shadow: 4px 3px 24px #dfe3eabd;
  position: absolute;
  top: 200%;
  right: 0;
  border-radius: .3rem;
  padding: 3rem 1rem;
  transition: var(--transition);
  visibility: hidden;
}

.header__identite .visible-sous-menu{
  top: 130%;
  transition: var(--transition);
  visibility: visible;
}

.header__identite .sous-menu ul{
  display: flex;
  justify-content: space-between;
}

.header__identite .sous-menu ul li{
  width: calc(90% / 2);
  height: 3rem;
  cursor: pointer;
}

.header__identite .sous-menu ul li img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* main */
.main{
  height: calc(100vh - 12rem);
  display: flex;
}

.main__sidebar{
  flex: 0 0 25rem;
  background-color: #0f123e;
  height: calc(100vh - 12rem);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 2rem;
  color: var(--color-white);
  position: relative;
  z-index: 10;
}

.sidebar-responsive{
  left: 0!important;
  transition: var(--transition)!important;
}

.main__sidebar li{
  color: var(--color-white);
  margin: 2rem 0;
  border: 1px solid var(--color-white);
  border-radius: 3rem;
  padding: 1rem 2rem;
  text-align: center;
}

.main__sidebar li:hover{
  background-color: var(--color-white);
  color: #0f123e;
  font-weight: 600;
}

.main__sidebar .btn-sidebar{
  display: none;
  position: absolute;
  bottom: 2rem;
  width: calc(100% - 4rem);
}

.main__sidebar::-webkit-scrollbar {
  display: none;
}

.main__content{
  flex: 1;
  padding: 2rem 4rem;
  height: calc(100vh - 12rem);
  overflow: auto;
  height: calc(100vh - 12rem);
  background: url(../images/bg-content.jpg);
  background-size: cover;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main__content::-webkit-scrollbar {
  display: none;
}

/* footer */
.footer{
  padding: 1rem 2rem;
  height: 6rem;
  background-color: #eae8f3;
}

.footer ul{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

/* form */
input:focus,
textarea:focus{
  outline: none;
}

.form-login input{
  width: 100%;
  padding: .7rem 1rem;
  border: 1px solid #eae8f3;
  border-radius: .5rem;
  margin-bottom: 1.5rem;
}

.contact__form input, textarea{
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  border-radius: .5rem;
  border: 1px solid #afafaf;
}

.contact__form textarea{
  min-height: 15rem;
  resize: none;
}

.contact__form input:focus, textarea:focus{
  border: 1px solid var(--color-primary);
}

/* card */
.card-home{
  min-height: 20rem;
  border-radius: 1rem;
  position: relative;
  padding: 1rem 2rem;
  margin: 1rem 0;
  text-align: center;
  color: var(--color-white);
}

.card-home::before {
  content: '';
  background-image: url(../images/bg-card.png);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
  opacity: .2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card-home .box-img{
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  margin: auto;
}

.card-home .box-img img{
  height: 2.5rem;
  margin-top: 3.5rem;
}

.card-home h2{
  font-weight: 600;
  margin: -2rem auto 1rem;
  font-weight: 2rem;
}

.bg-orange{
  background-color: #ffa726;
}

.bg-blue{
  background-color: #03a9f4;
}

.bg-purple{
  background-color: #8373ce;
}

.bg-orange .box-img{
  background: url(../images/icon/icon-bg-or.png) no-repeat;
  background-position: center;
}

.bg-blue .box-img{
  background: url(../images/icon/icon-br-bl.png) no-repeat;
  background-position: center;
}

.bg-purple .box-img{
  background: url(../images/icon/icon-bg-per.png) no-repeat;
  background-position: center;
}


.card-blog{
  margin: 1rem 0;
  background-color: var(--color-white);
  border: 1px solid #f1f1f1;
}

.card-blog__img{
  height: 20rem;
}

.card-blog__img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-blog__text{
  padding: 1rem;
}

.card-blog__text .title-blog{
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: .5rem;
  color: var(--color-primary);
}

.card-blog__text ul{
  display: flex;
}

.card-blog__text ul li{
  margin-right: 1.5rem;
}

.card-blog__text ul img{
  height: 1.5rem;
  margin-bottom: .3rem;
}

.card-projet{
  position: relative;
  min-height: 10rem;
  padding: 3rem;
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: .5rem;
  box-shadow: 4px 3px 24px #dfe3eabd;
  margin: 1rem 0;
}

.card-projet__number{
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  background-color: var(--color-primary);
  border-bottom-right-radius: 5rem;
}

.card-projet__number p{
  font-size: 2rem;
  color: var(--color-white);
}

.card-activite{
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  min-height: 15rem;
  margin: 1rem 0;
}

.card-activite__title{
  padding: 1.5rem 1rem;
  background-color: var(--color-primary);
}

.card-activite__title span{
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 600;
}

.card-activite__content{
  padding: 1.5rem 1rem;
}

.card-activite__content ul li{
  display: flex;
  align-items: center;
  margin: .5rem 0;
}

.card-activite__content ul li img{
  height: 2rem;
  margin: 0 1rem .3rem 0;
}

/* input */
input:focus{
  outline: none;
}

/* button */
button{
  border-radius: .5rem;
  padding: .7rem 2rem;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
}

button:focus{
  outline: none;
}

.btn-menu{
  display: none;
}

.border-orange-header{
  padding: 1rem 3rem;
  border-radius: .3rem;
  transition: var(--transition);
}

.border-orange-header:hover{
  background-color: #fa6b06;
  transition: var(--transition);
}

.btn-orange{
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-white);
}

.btn-orange-width100{
  width: 100%;
  border-radius: 3rem;
  padding: 1rem;
}

.btn-video{
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 600;
  padding: .7rem 1rem;
}

.btn-video img{
  height: 1.7rem;
  margin-right: .5rem;
}

.btn-profil{
  border: none;
  padding: 0 .5rem;
}

.btn-profil img{
  height: 1.5rem;
}

.btn-deconnect{
  border: 1px solid transparent;
  background-color: #0f123e;
  color: var(--color-white);
  font-weight: 600;
}

.btn-green{
  background-color: rgb(16, 160, 112);
  border: 1px solid transparent;
  color: var(--color-white);
  font-weight: 600;
  padding: .5rem 2rem;
}

/* typographie */
.second-title{
  font-size: 2rem;
  font-weight: 600;
}

.third-title{
  font-size: 1.8rem;
  font-weight: bold;
}

/* ============================
    Page login
============================ */
.body-login{
  min-height: 100vh;
  background-color: #eae8f3;
  padding: 1rem;
}

.box-login{
  display: flex;
  flex-direction: row-reverse;
  min-height: 50rem;
  width: 65%;
  border-radius: .5rem;
  overflow: hidden;
  background-color: white;
  border: 7px solid #dcd4ef;
  border-radius: .5rem;
  box-shadow: 0px 0px 10px 0px #efecfb;
}

.box-login h1{
  font-weight: 600;
}

.box-login h2{
  font-weight: 600;
}

.box-login__form{
  position: relative;
  height: inherit;
  width: 33rem;
  padding: 1rem 2rem;
}

.box-login__form .logo-site{
  width: 5rem;
}

.box-login__illustration{
  flex: 1;
}

.box-login__illustration iframe{
  height: 100%;
  width: 100%;
}

.box-login__illustration img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box-login .dot{
  display: inline-block;
  height: .7rem;
  width: .7rem;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.box-login .copyright{
  position: absolute;
  bottom: 2rem;
  width: calc(100% - 4rem);
  text-align: center;
}

/* ==========================
    Page home
========================== */
.home-baniere{
  height: 60vh;
  margin-bottom: 1.5rem;
}

.home-baniere img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-content h1{
  text-align: center;
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.home-content h1:before{
  content: "";
  width: 142px;
  height: 48px;
  background: url(../images/header-left.webp) no-repeat;
  display: inline-block;
  margin: 0 10px 0 -152px;
  position: relative;
  top: 14px;
}

.home-content h1:after{
  content: "";
  width: 131px;
  height: 28px;
  background: url(../images/header-right.webp) no-repeat;
  display: inline-block;
  margin: 0 -151px 0 20px;
}

/* ==========================
    Page galerie
========================== */
.box-galerie h2{
  font-size: 3rem;
}

.box-galerie h2::after{
  content: "";
  width: 131px;
  height: 28px;
  background: url(../images/header-right.webp) no-repeat;
  display: inline-block;
  margin: 0 -151px 0 20px;
}

.galerie-item{
  margin-bottom: 3rem;
}

.galerie-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galerie-item.height-2{
  height: 35rem;
}

.galerie-item.height-1{
  height: 17.5rem;
}

/* ============================
    Page blog
============================ */
.blog h2{
  font-size: 3rem;
}

.blog h2::after{
  content: "";
  width: 131px;
  height: 28px;
  background: url(../images/header-right.webp) no-repeat;
  display: inline-block;
  margin: 0 -151px 0 20px;
}

.blog-img{
  height: 40rem;
  margin-bottom: 2rem;
}

.blog-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-text h3{
  font-size: 2.5rem;
  font-weight: 600;
}

.blog-text ul{
  margin-bottom: 1rem 2rem;
}

/* ==========================
    Page contact
========================== */
.contact h2{
  font-size: 3rem;
}

.contact h2::after{
  content: "";
  width: 131px;
  height: 28px;
  background: url(../images/header-right.webp) no-repeat;
  display: inline-block;
  margin: 0 -151px 0 20px;
}

.contact h3::after{
  content: "";
  width: 131px;
  height: 28px;
  background: url(../images/header-right.webp) no-repeat;
  display: inline-block;
  margin: 0 -151px 0 20px;
}

.contact__maps{
  height: 25rem;
  margin-bottom: 3rem;
}

.contact__maps iframe{
  height: 100%;
  width: 100%;
}

.contact__info--item .reseaux{
  display: flex;
}

.contact__info--item .reseaux a{
  margin-right: 1rem;
}

.contact__info--item .reseaux li{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #ff69008c;
}

.contact__info--item .reseaux li img{
  height: 1.5rem;
}

.contact__info--item .flex-info li{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact__info--item .flex-info li img{
  height: 1.5rem;
  margin-right: 1rem;
}

/* ==========================
    Page About
========================== */
.about h2{
  font-size: 3rem;
}

.about h2::after{
  content: "";
  width: 131px;
  height: 28px;
  background: url(../images/header-right.webp) no-repeat;
  display: inline-block;
  margin: 0 -151px 0 20px;
}

.about__img{
  height: 35rem;
  margin: 1rem 0 2rem;
}

.about__img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ==========================
    Page Adresse
========================== */
.adresse h2{
  font-size: 3rem;
}

.adresse h2::after{
  content: "";
  width: 131px;
  height: 28px;
  background: url(../images/header-right.webp) no-repeat;
  display: inline-block;
  margin: 0 -151px 0 20px;
}

.adresse__item{
  margin-top: 5rem;
  padding: 5rem 2rem;
  background-color: var(--color-white);
  border-radius: .5rem;
  text-align: center;
  box-shadow: 4px 3px 24px #dfe3eabd;
}

.adresse__item img{
  height: 4rem;
}

.adresse__item h3{
  margin: .5rem 0 1rem;
}

/* ==========================
    Page Horaire
========================== */
.horaire h2{
  font-size: 3rem;
}

.horaire h2::after{
  content: "";
  width: 131px;
  height: 28px;
  background: url(../images/header-right.webp) no-repeat;
  display: inline-block;
  margin: 0 -151px 0 20px;
}

/* ==========================
    Page Projet Pedagogique
========================== */
.projet h2{
  font-size: 3rem;
}

.projet h2::after{
  content: "";
  width: 131px;
  height: 28px;
  background: url(../images/header-right.webp) no-repeat;
  display: inline-block;
  margin: 0 -151px 0 20px;
}

/* ==========================
    Page agenda
========================== */
.agenda h2{
  font-size: 3rem;
}

.agenda h2::after{
  content: "";
  width: 131px;
  height: 28px;
  background: url(../images/header-right.webp) no-repeat;
  display: inline-block;
  margin: 0 -151px 0 20px;
}

.agenda__item{
  margin-bottom: 3rem;
}

.agenda__item--date{
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.agenda__item--date .day{
  height: 3rem;
  width: 5rem;
  background-color: black;
  color: var(--color-primary);
  margin-right: 1rem;
}

.agenda__item--date .day p{
  font-size: 2rem;
}

.agenda__item--content{
  width: calc(100% - 5rem);
  min-height: 5rem;
  padding: 2rem;
  background-color: black;
  color: var(--color-white);
  margin-left: 5rem;
}

/* ==========================
    Page activité
========================== */
.activite h2{
  font-size: 3rem;
}

.activite h2::after{
  content: "";
  width: 131px;
  height: 28px;
  background: url(../images/header-right.webp) no-repeat;
  display: inline-block;
  margin: 0 -151px 0 20px;
}

.activite__title{
  display: flex;
  justify-content: space-between;
}




/* ************ media screen ************* */
@media screen and (max-width: 992px){
  .box-login{
    width: 70%;
  }
}

@media screen and (max-width: 992px){
  /* login */
  .box-login{
    width: 85%;
  }
}

@media screen and (max-width: 768px){
  /* login */
  .box-login{
    width: 95%;
  }

  .box-login__form{
    width: 30rem;
  }

  /* main */
  .main__sidebar{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    transition: var(--transition);
  }

  /* btn */
  .btn-menu{
    display: block;
    border: none;
    padding: 0;
    background-color: transparent;
  }

  .btn-menu img{
    height: 4rem;
  }

  .header__btn{
    display: none;
  }

  .main__sidebar .btn-sidebar{
    display: block;
  }

  .btn-profil{
    padding-right: 2rem;
  }

  /* blog */
  .blog-img{
    height: 30rem;
  }
}

@media screen and (max-width: 576px){
  /* login */
  .box-login{
    display: block;
  }

  .box-login__form{
    padding-bottom: 6rem;
    width: 100%;
  }

  .box-login .copyright{
    bottom: 1rem;
  }

  .box-logo{
    height: 7rem;
    width: 10rem;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -4rem auto 2rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 6px 1px #f3f3f3;
  }

  /* header */
  .header__title{
    display: none;
  }

  /* main */
  .main__content{
    padding: 2rem 1rem;
  }

  /* home page */
  .home-content h1{
    font-size: 2.5rem;
  }

  .home-baniere{
    height: 40vh;
  }

  /* blog */
  .blog-img{
    height: 20rem;
  }

  /* adresse */
  .adresse__item{
    margin-top: 2rem;
  }

  /* a propos */
  .about__img{
    height: 17rem;
  }
}